$color-gray: #9e9e9e;

.c-example-input__line {
  border: none;
  border-bottom: 1px solid $color-gray;
  border-radius: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.c-example-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 0 8px;
  }
}