.c-icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  justify-content: flex-start;
}

.c-icon-list__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16%;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

.c-icon-list__toolbar {
  display: flex;
  flex-direction: row;
}

.c-icon-list__search {
  flex: 0 50%;
  margin-left: 10px;
}
